<div class="panel panel-primary">
	<div class="panel-heading">
    	<h5>{{ title }}</h5>
	</div>
	
	<div class="panel-body">
		<mat-form-field appearance="legacy">
    		<mat-label>name</mat-label>
		    <input matInput ngDefaultControl placeholder="name" name="name" [(ngModel)]="name">
    		<mat-hint></mat-hint>
  		</mat-form-field>
<p>
		<mat-form-field appearance="legacy">
		    <mat-label>establishedOn</mat-label>
		  	<input matInput ngDefaultControl [matDatepicker]="picker" placeholder="establishedOn" name="establishedOn" [(ngModel)]="establishedOn">
			<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
			<mat-datepicker #picker></mat-datepicker>
			<mat-hint></mat-hint>
		</mat-form-field>
<p>
		<mat-form-field appearance="legacy">
    		<mat-label>revenue</mat-label>
		    <input matInput ngDefaultControl placeholder="revenue" name="revenue" [(ngModel)]="revenue">
    		<mat-hint></mat-hint>
  		</mat-form-field>
<p>
		<mat-form-field appearance="legacy">
    		<mat-label>Employees</mat-label>
			<mat-select placeholder="Employees" multiple [(ngModel)]="Employees">
		    	<mat-option name="Employees" ngDefaultControl  
		    		*ngFor="let employee of employees"		    		 
		    		[value]="employee._id">
		      		{{employee.firstName}}
		    	</mat-option>
		  	</mat-select>
		</mat-form-field>
<p>
		<mat-form-field appearance="legacy">
    		<mat-label>Departments</mat-label>
			<mat-select placeholder="Departments" multiple [(ngModel)]="Departments">
		    	<mat-option name="Departments" ngDefaultControl  
		    		*ngFor="let department of departments"		    		 
		    		[value]="department._id">
		      		{{department.name}}
		    	</mat-option>
		  	</mat-select>
		</mat-form-field>
<p>
		<mat-form-field appearance="legacy">
    		<mat-label>Divisions</mat-label>
			<mat-select placeholder="Divisions" multiple [(ngModel)]="Divisions">
		    	<mat-option name="Divisions" ngDefaultControl  
		    		*ngFor="let division of divisions"		    		 
		    		[value]="division._id">
		      		{{division.name}}
		    	</mat-option>
		  	</mat-select>
		</mat-form-field>
<p>
		<mat-form-field appearance="legacy">
    		<mat-label>BoardMembers</mat-label>
			<mat-select placeholder="BoardMembers" multiple [(ngModel)]="BoardMembers">
		    	<mat-option name="BoardMembers" ngDefaultControl  
		    		*ngFor="let employee of employees"		    		 
		    		[value]="employee._id">
		      		{{employee.firstName}}
		    	</mat-option>
		  	</mat-select>
		</mat-form-field>
<p>
		<mat-form-field appearance="legacy">
    		<mat-label>Address</mat-label>
			<mat-select placeholder="Address"  [(ngModel)]="Address">
		    	<mat-option name="Address" ngDefaultControl  
		    		*ngFor="let address of addresss"		    		 
		    		[value]="address._id">
		      		{{address.street}}
		    	</mat-option>
		  	</mat-select>
		</mat-form-field>
<p>
		<mat-form-field appearance="legacy">
		    <mat-label>Type</mat-label>
			<mat-select placeholder="Type" name="Type" [(ngModel)]="Type">
		    	<mat-option ngDefaultControl *ngFor="let CompanyType of CompanyTypes" [value]="CompanyType">
		      		{{CompanyType}}
		    	</mat-option>
		  	</mat-select>
		</mat-form-field>
<p>
		<mat-form-field appearance="legacy">
		    <mat-label>Industry</mat-label>
			<mat-select placeholder="Industry" name="Industry" [(ngModel)]="Industry">
		    	<mat-option ngDefaultControl *ngFor="let Industry of Industrys" [value]="Industry">
		      		{{Industry}}
		    	</mat-option>
		  	</mat-select>
		</mat-form-field>
<p>
                  <button 
		    (click)="addCompany(name, establishedOn, revenue, Employees, Departments, Divisions, BoardMembers, Address, Type, Industry)" 
		    class="btn btn-primary">add
		</button>
	</div> <!-- panel body -->	
</div> <!-- panel panel-primary -->
