<div class="panel panel-primary">
	<div class="panel-heading">
    	<h5>{{ title }}</h5>
	</div>
	
	<div class="panel-body">
 		<mat-form-field appearance="legacy">
    		<mat-label>name</mat-label>
		    <input matInput ngDefaultControl placeholder="name" name="department.name" [(ngModel)]="department.name">
    		<mat-hint></mat-hint>
  		</mat-form-field>
<p>
   		<mat-form-field appearance="legacy">
    		<mat-label>Head</mat-label>
			<mat-select placeholder="Head"   [compareWith]="compareFn"  [(ngModel)]="department.Head">
		    	<mat-option name="department.Head" ngDefaultControl  
		    		*ngFor="let employee of employees"		    		 
		    		[value]="employee._id">
		      		{{employee.firstName}}
		    	</mat-option>
		  	</mat-select>
		</mat-form-field>
<p>
            <button 
		    (click)="updateDepartment(department.name, department.Head)" 
		    class="btn btn-primary">update
		</button>
	</div> <!-- panel body -->	
</div> <!-- panel panel-primary -->
